<aside class="sidebar" id="sidebar">

    <div class="sidebar-top">

        <div class="logo-big">

<img src="assets/zoonielogo11.png" alt="Zoonie Healthcare">

        </div>

    </div>

    <nav class="sidebar-nav">

        <ul>

            <li>
                <a href="index.html">
                    <i class="fas fa-house"></i>
                    Home
                </a>
            </li>

            <li>
                <a href="about.html">
                    <i class="fas fa-circle-info"></i>
                    About Us
                </a>
            </li>

            <li>
                <a href="about.html#services">
                    <i class="fas fa-heart-pulse"></i>
                    Services
                </a>
            </li>

            <li>
                <a href="health-cards.html">
                    <i class="fa-solid fa-id-card"></i>
                    <span>Health Cards</span>
                </a>
            </li>

            <li>
                <a href="health-cards.html#impact">
                    <i class="fas fa-chart-line"></i>
                    Impact
                </a>
            </li>

            <li>
                <a href="network.html#future-vision">
                    <i class="fa-solid fa-heart-pulse"></i>
                    <span>Future Vision</span>
                </a>
            </li>

            <li>
                <a href="network.html">
                    <i class="fa-solid fa-hospital"></i>
                    <span>Network</span>
                </a>
            </li>

            <li>
                <a href="gallery.html">
                    <i class="fas fa-image"></i>
                    Gallery
                </a>
            </li>

            <li>
                <a href="gallery.html#why-us">
                    <i class="fas fa-shield-heart"></i>
                    Why Us
                </a>
            </li>

            <li>
                <a href="gallery.html#testimonials">
                    <i class="fas fa-comments"></i>
                    Testimonials
                </a>
            </li>

            <li>
                <a href="contact.html">
                    <i class="fas fa-phone"></i>
                    Contact
                </a>
            </li>

        </ul>

    </nav>

    <div class="sidebar-bottom">

        <a href="index.html#donate" class="donate-btn">

            Donate Now

        </a>

    </div>

</aside>
